# Cereal Analysis

In [5]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('./cereal.csv')

In [17]:
df.head(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679

# Find average sodium

In [23]:
avg_sodium = df[['sodium']].mean()

In [25]:
max_carbo = df['carbo'].max()
max_carbo

23.0

In [35]:
df[df['carbo'] < 7][['name','carbo']]

              name  carbo
0        100% Bran    5.0
57  Quaker Oatmeal   -1.0

In [44]:
mcc = df['carbo'].mode()[0]

In [50]:
df[df['carbo'] == mcc]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.0,0.67,53.313813
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.0,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.0,0.50,40.400208
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.0,1.00,35.782791
29,Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.0,0.75,28.025765
34,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.0,0.33,45.811716
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301

In [48]:
df['potass'].std()

71.28681250926212